<%- include("partials/header.ejs") %>



<div class="nav">
    <div class="navContent">
        <h2>BooKNooK</h2>
    </div>
    <div class="searchBar">
        <form action="/check" method="post">
            <input type="text" name="bookSearch" id="bookSearch" placeholder="<%= locals.err ? err :  'Enter book'%>" autocomplete="off">
            <button type="submit"><img src="/assets/icons/go-next-svgrepo-com.svg" alt="ok" height="10px" width="30px"></button>
        </form>
    </div>
</div>



<div class="bookBox">

    <% if(locals.bookInfo){ %>
        <% for(let item of bookInfo){%>

            <form action="/add" method="post">
                <div class="item">
                     
                    <div class="bookImg">
                        <img src="<%= item.imgData %>" alt="bookImg">
                    </div>

                    <div class="bookDetails">

                        <div>
                            <input type="text" name="booktitle" value="<%=item.bookTitle  %>" hidden>
                            <input type="text" name="bookisbn" value="<%=item.isbn %>" hidden>
                            <h2><%= item.bookTitle %></h2>
                            <p><%= item.bookDate %></p>
                            <p><%= item.bookYear %></p>
                            <p><%= item.bookAuthor %></p>
                        </div>

                        <div>
                            <button id="addButton" name="addedItem"  value="<%= item.id %>" class="button-71" role="button">+</button>
                        </div>
                    </div>
                </div>
            </form> 
        <% } %>
    <% } %>
</div>

<form action="/sort" method="post" id="Sort">
    <label for="sort">SORT BY:</label>
    <select name="sort" id="sort">
        <option value="id" name="sort">ID</option>
        <option value="title" name="sort">TITLE</option>
        <option value="rating" name="sort">RATING</option>
    </select>
    <button type="submit"><img src="/assets/icons/go-next-svgrepo-com.svg" alt="ok" height="13px" width="30px"></button>
</form>

<div class="bookDisplay">
    <% if(locals.data){%>
        <% for(let item of data){%>
            <div class="eachBookDisplay">
                <div class="cover">
                    <img src="<%= item.imgaddr %>" alt="bookcover">
                </div>
                <div class="details">
                    <h2 id="title<%= item.id %>"><%= item.title %></h2>
                    <table>
                        
                        <tr>
                            <td><h3 class="Dhead">Description:</h3></td>
                            <td><p id="description<%= item.id %>"><%= item.description %></p></td>
                        </tr>
                        <tr>
                            <td><h3 class="Dhead">isbn:</h3></td>
                            <td><p id="isbn<%= item.id %>"><%= item.isbn %></p></td>
                        </tr>
                        <tr>
                            <td><h3 class="Dhead">Rating:</h3></td>
                            <td><p id="rating<%= item.id %>"><%= item.rating %></p></td>
                        </tr>
                    </table>
                    <div class="editDel">
                        <button class="edit" id="edit<%=item.id%>" onclick="handler('<%= item.id %>')"><img src="/assets/icons/edit-3-svgrepo-com.svg" alt="editImg" height="30px" width="30px"></button>
                        <form action="/delete" method="post">
                            <button class="delete" name="deleteItemId" value="<%= item.id %>" ><img src="/assets/icons/delete-svgrepo-com.svg" alt="delImg" height="30px" width="30px"></button>
                        </form>
                    </div>
                    
                </div>



                <form action="/edit" class="Edit" method="post">
                    <input type="hidden" name="updatedItemId" value="<%= item.id %>">
                    <input id="updatedDescription<%=item.id%>" type="text" name="updatedItemDescription" value="<%= item.description %>" autocomplete="off"
                    autofocus="true" hidden="true" />
                    <div class="ratEdit">
                        <input type="number"  name="updatedRating" id="updatedRating<%= item.id %>" value="<%= item.rating %>" min="0" max="5"  required width="40px" height="20px" autofocus="true" hidden="true">
                        <button hidden id="done<%=item.id%>" type="submit"> <img src="/assets/icons/done-v-svgrepo-com.svg" alt="done-img" height="30px" width="30px"></button>
                    </div>
                    
                </form>


            </div>
            <% } %>

   <% } %>
</div>

<script>
    function handler(id){
        document.getElementById("title" + id).setAttribute("hidden", true);
        document.getElementById("description" + id).setAttribute("hidden", true);
        document.getElementById("isbn" + id).setAttribute("hidden", true);
        document.getElementById("rating" + id).setAttribute("hidden", true);
        document.getElementById("edit" + id).setAttribute("hidden", true);

        document.getElementById("done" + id).removeAttribute("hidden");
      document.getElementById("updatedDescription" + id).removeAttribute("hidden");
      document.getElementById("updatedRating" + id).removeAttribute("hidden");
    }
</script>


<%- include("partials/footer.ejs") %>