<%- include("partials/header.ejs") %>



<div class="nav">
    <div class="navContent">
        <img src="/assets/icons/logo.jpeg" alt="logo" height="50px" width="50px" style="border-radius: 10px;">
    </div>
    <div class="searchBar">
        <form action="/check" method="post">
            <input type="text" name="bookSearch" id="bookSearch">
        </form>
    </div>
</div>

<div class="bookBox">
    <% if(locals.bookInfo){ %>

        <% for(let item of bookInfo){%>
            <form action="/add" method="post">
            <div class="item">
                <div class="bookImg">
                    <img src="<%= item.imgData %>" alt="bookImg">
                </div>
                <div class="bookDetails">
                    <div>
                        <input type="text" name="booktitle" value="<%=item.bookTitle  %>" hidden>
                        <input type="text" name="bookisbn" value="<%=item.isbn %>" hidden>
                        <h2><%= item.bookTitle %></h2>
                        <p><%= item.bookDate %></p>
                        <p><%= item.bookYear %></p>
                        <p><%= item.bookAuthor %></p>
                    </div>
                    <div>

                            <button id="addButton" name="addedItem"  value="<%= item.id %>" class="button-71" role="button">+</button>
                        </form>   
                    </div>
                </div>
            </div>
            ..................................................
            <% } %>
        <% } %>

</div>

<div class="bookDisplay">
    <% if(locals.data){%>
        <% for(let item of data){%>
            <div class="eachBookDisplay">
                
                <img src="<%= item.imgaddr %>" alt="bookcover">
                <h2 id="title<%= item.id %>"><%= item.title %></h2>
                <p id="description<%= item.id %>"><%= item.description %></p>
                <h4 id="isbn<%= item.id %>">ISBN:<%= item.isbn %></h4>
                <h5 id="rating<%= item.id %>">RATING:<%= item.rating %></h5>
                <button class="edit" id="edit<%=item.id%>" onclick="handler('<%= item.id %>')">edit</button>



                <form action="/edit" class="edit" method="post">
                    <input type="hidden" name="updatedItemId" value="<%= item.id %>">
                    <input id="updatedDescription<%=item.id%>" type="text" name="updatedItemDescription" value="<%= item.description %>" autocomplete="off"
                    autofocus="true" hidden="true" />
                    <input type="number" name="updatedRating" id="updatedRating<%= item.id %>" value="<%= item.rating %>" min="0" max="5"  required width="40px" height="20px" autofocus="true" hidden="true">
                    <button id="done<%=item.id%>" class="edit" type="submit" hidden></button>
                </form>


            </div>
            <% } %>

   <% } %>
</div>

<script>
    function handler(id){
        document.getElementById("title" + id).setAttribute("hidden", true);
        document.getElementById("description" + id).setAttribute("hidden", true);
        document.getElementById("isbn" + id).setAttribute("hidden", true);
        document.getElementById("rating" + id).setAttribute("hidden", true);
        document.getElementById("edit" + id).setAttribute("hidden", true);

        document.getElementById("done" + id).removeAttribute("hidden");
      document.getElementById("updatedDescription" + id).removeAttribute("hidden");
      document.getElementById("updatedRating" + id).removeAttribute("hidden");
    }
</script>


<%- include("partials/footer.ejs") %>